@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@400;700&display=swap');

html {
  overflow-x: hidden;
}
body {
  font-family: "Lato", sans-serif;
}

root {
  box-sizing: border-box;
}

h2 {
  background-image: linear-gradient(to right, #F79256, #ED6A5A);
  display: inline-block;
  color: transparent;
  background-clip: text;
  font-size: 3em;
}

